#coll{
  position: relative;
  top:50px;
}

*{
  outline:none;
}

#coll_outer > div > h5{
  position: relative;
  top:-10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
}

#bmi_card, #cal_card{
  display:none;
}